[submodule "themes/even"]
	path = themes/even
	url = https://github.com/nicklinyi/hugo-theme-even.git
[submodule "themes/hugo-search-fuse-js"]
	path = themes/hugo-search-fuse-js
	url = https://github.com/kaushalmodi/hugo-search-fuse-js.git
[submodule "themes/mark-js"]
	path = themes/mark-js
	url = https://github.com/julmot/mark.js
